<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Админка</title>
</head>
<body>
<header>
</header>
<section>
    <form method="post" action="" enctype="multipart/form-data">
<label>Посмотреть данные по категории</label>
<select name = 'categoryID'>
    {% for category in categories %}
        <option value = "{{ category.id }}" > {{ category.name }} </option>
    {% endfor %}
</select>
<input type="submit" name="seequestions" value="Посмотреть">
<input type="submit" name="deletecat" value="Удалить эту категорию и вопросы в ней"><br/><br/>
<label>Создать новую категорию</label>
<input type="text"  placeholder="категория" name="newcat">
<input type="submit" name="createnewcat" value="Создать"><br/><br/>
<table border="1" cellpadding="10" width="100%">
    <tr>
        <td align="center"> Всего вопросов в теме </td>
        <td align="center">{{ numberquestions }}</td>
    </tr>
    <tr>
        <td align="center"> Опубликовано вопросов </td>
        <td align="center">{{ answeredQuestions }}</td>
    </tr>
    <tr>
        <td align="center"> Не опубликовано вопросов </td>
        <td align="center">{{ userQuestions }}</td>
    </tr>
</table><br/><br/>
<table border="1" cellpadding="10" width="100%">
    <tr>
        <td align="center"> <strong> Вопрос </strong> </td>
        <td align="center"> <strong> Дата создания </strong> </td>
        <td align="center"> <strong> Статус </strong> </td>
    </tr>
    {% for allAnsweredQuestion in allAnsweredQuestions %}
        <tr>
            <td align="center">{{ allAnsweredQuestion.name }}</td>
            <td align="center">{{ allAnsweredQuestion.date }}</td>
            <td align="center"> {{ allAnsweredQuestion.status }} </td>
        </tr>
    {% endfor %}
    {% for allUsersQuestion in allUsersQuestions %}
        <tr>
            <td align="center">{{ allUsersQuestion.question }}</td>
            <td align="center">{{ allUsersQuestion.date }}</td>
            <td align="center"> Ожидает ответа </td>
    {% endfor %}
</table><br/><br/>
        <a href="admin.php?c=back">Вернуться</a>
    </form>
</section>
</body>
</html>