<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Админка</title>
</head>
<body>
<header>
</header>
<section>
    <form method="post" action="" enctype="multipart/form-data">
        <select name = 'categoryID'>
            {% for category in categories %}
                <option value = "{{ category.id }}" > {{ category.name }} </option>
            {% endfor %}
        </select>
        <input type="submit" name="seequestions" value="Посмотреть">
        <table border="1" cellpadding="10" width="100%">
            <tr>
                <td align="center"> <strong> Вопрос </strong> </td>
                <td align="center"> <strong> Автор </strong> </td>
                <td align="center"> <strong> e-mail автора </strong> </td>
                <td align="center"> <strong> Дата создания </strong> </td>
                <td align="center"> <strong> Статус </strong> </td>
                <td align="center"> <strong> Изменить категорию </strong> </td>
                <td align="center"> <strong> Изменить автора </strong> </td>
                <td align="center"> <strong> Изменить вопрос </strong> </td>
                <td align="center">  </td>
            </tr>
            {% for allAnsweredQuestion in allAnsweredQuestions %}
                <tr>
                    <td align="center">{{ allAnsweredQuestion.name }}</td>
                    <td align="center">{{ allAnsweredQuestion.user }}</td>
                    <td align="center">{{ allAnsweredQuestion.email }}</td>
                    <td align="center">{{ allAnsweredQuestion.date }}</td>
                    <td align="center"> {{ allAnsweredQuestion.status }} </td>
                    <td align="center"> <select name = "newCategoryID[{{ allAnsweredQuestion.id }}]">
                            {% for category in categories %}
                                <option value = "{{ category.id }}" > {{ category.name }} </option>
                            {% endfor %}
                        </select>
                        <button type="submit" name="changeCategory" value="{{ allAnsweredQuestion.id }}">Изменить категорию</button></td>
                    <td align="center"><input type="text"  placeholder="имя автора" name="authorNameAnswered[{{ allAnsweredQuestion.id }}]">
                        <button type="submit" name="updateAuthorAnswered" value="{{ allAnsweredQuestion.id }}">Изменить имя автора</button></td>
                    <td align="center"><input type="text"  placeholder="вопрос" name="newquestionAnswered[{{ allAnsweredQuestion.id }}]">
                        <button type="submit" name="updateQuestionAnswered" value="{{ allAnsweredQuestion.id }}">Изменить текст вопроса</button></td>
                    <td align="center"><a href="admin.php?deleteAnsweredQuestion={{ allAnsweredQuestion.id }}">Удалить</a>
                        <a href="admin.php?hideansw={{ allAnsweredQuestion.id }}">Скрыть</a>
                        <a href="admin.php?showansw={{ allAnsweredQuestion.id }}">Опубликовать</a></td>
                </tr>
            {% endfor %}
            {% for allUsersQuestion in allUsersQuestions %}
                <tr>
                    <td align="center">{{ allUsersQuestion.question }}</td>
                    <td align="center">{{ allUsersQuestion.user }}</td>
                    <td align="center">{{ allUsersQuestion.email }}</td>
                    <td align="center">{{ allUsersQuestion.date }}</td>
                    <td align="center"> {{ allUsersQuestion.status }} </td>
                    <td align="center"> <select name = "newCategoryIDUsers[{{ allUsersQuestion.id }}]">
                            {% for category in categories %}
                                <option value = "{{ category.id }}" > {{ category.name }} </option>
                            {% endfor %}
                        </select>
                        <button type="submit" name="changeCategoryUsers" value="{{ allUsersQuestion.id }}">Изменить категорию</button></td>
                    <td align="center"><input type="text"  placeholder="имя автора" name="authorName[{{ allUsersQuestion.id }}]">
                        <button type="submit" name="updateAuthor" value="{{ allUsersQuestion.id }}">Изменить имя автора</button></td>
                    <td align="center"><input type="text"  placeholder="вопрос" name="newquestion[{{ allUsersQuestion.id }}]">
                        <button type="submit" name="updateQuestion" value="{{ allUsersQuestion.id }}">Изменить текст вопроса</button></td>
                    <td align="center"><a href="admin.php?deleteQuestion={{ allUsersQuestion.id }}">Удалить</a>
                        <a href="admin.php?hideansw={{ allUsersQuestion.id }}">Скрыть</a>
                        <a href="admin.php?showansw={{ allUsersQuestion.id }}">Опубликовать</a></td>
                </tr>
            {% endfor %}
        </table><br/><br/>

        <table border="1" cellpadding="10" width="100%">
            <tr>
                <td align="center"> <strong> Вопрос </strong> </td>
                <td align="center"> <strong> Ответ </strong> </td>
                <td align="center"> <strong> Изменить ответ на вопрос </strong> </td>
            </tr>
            {% for allAnsweredQuestion in allAnsweredQuestions %}
                <tr>
                    <td align="center">{{ allAnsweredQuestion.name }}</td>
                    {% for answer in answers if answer.id == allAnsweredQuestion.id%}
                    <td align="center">{{ answer.name }}</td>
                    {% endfor %}
                    <td align="center"><input type="text"  placeholder="ответ" name="answer[{{ allAnsweredQuestion.id }}]">
                        <button type="submit" name="updateAnswer" value="{{ allAnsweredQuestion.id }}">Изменить ответ</button></td>
                </tr>
            {% endfor %}
            {% for allUsersQuestion in allUsersQuestions %}
                <tr>
                    <td align="center">{{ allUsersQuestion.question }}</td>
                    <<td align="center">{{ allUsersQuestion.answer }}</td>
                    <td align="center"><input type="text"  placeholder="ответ" name="answerUser[{{ allUsersQuestion.id }}]">
                        <button type="submit" name="updateAnswerUser" value="{{ allUsersQuestion.id }}">Изменить ответ</button></td>
                </tr>
            {% endfor %}
        </table><br/><br/>
        <a href="admin.php">Вернуться</a>
    </form>
</section>
</body>
</html>