<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Админка</title>
</head>
<body>
<header>
</header>
<section>
    <form method="post" action="" enctype="multipart/form-data">
        <select name = 'id_category'>
            {% for category in categories %}
                <option value = "{{ category.id }}" > {{ category.name }} </option>
            {% endfor %}
        </select>
        <input type="submit" name="seequestions" value="Посмотреть">
        <table border="1" cellpadding="10" width="100%">
            <tr>
                <td align="center"> <strong> Вопрос </strong> </td>
                <td align="center"> <strong> Автор </strong> </td>
                <td align="center"> <strong> e-mail автора </strong> </td>
                <td align="center"> <strong> Дата создания </strong> </td>
                <td align="center"> <strong> Статус вопроса</strong> </td>
                <td align="center"> <strong> Изменить категорию </strong> </td>
                <td align="center"> <strong> Изменить автора </strong> </td>
                <td align="center"> <strong> Изменить вопрос </strong> </td>
                <td align="center">  </td>
            </tr>
            {% for allAnsweredQuestion in allAnsweredQuestions %}
                <tr>
                    <td align="center">{{ allAnsweredQuestion.question }}</td>
                    <td align="center">{{ allAnsweredQuestion.name }}</td>
                    <td align="center">{{ allAnsweredQuestion.email }}</td>
                    <td align="center">{{ allAnsweredQuestion.date }}</td>
                    <td align="center"> {{ allAnsweredQuestion.status }} </td>
                    <td align="center"> <select name = "newid_category[{{ allAnsweredQuestion.id }}]">
                            {% for category in categories %}
                                <option value = "{{ category.id }}" > {{ category.name }} </option>
                            {% endfor %}
                        </select>
                        <button type="submit" name="changeCategory" value="{{ allAnsweredQuestion.id }}">Изменить категорию</button></td>
                    <td align="center"><input type="text"  placeholder="имя автора" name="authorName[{{ allAnsweredQuestion.id }}]">
                        <button type="submit" name="updateAuthor" value="{{ allAnsweredQuestion.id }}">Изменить имя автора</button></td>
                    <td align="center"><input type="text"  placeholder="вопрос" name="newquestion[{{ allAnsweredQuestion.id }}]">
                        <button type="submit" name="updateQuestion" value="{{ allAnsweredQuestion.id }}">Изменить текст вопроса</button></td>
                    <td align="center"><a href="?c=editCategory&deleteAnsweredQuestion={{ allAnsweredQuestion.id }}">Удалить</a>
                        <a href="admin.php?c=editCategory&hideQuestion={{ allAnsweredQuestion.id }}">Скрыть</a>
                        <a href="admin.php?c=editCategory&showQuestion={{ allAnsweredQuestion.id }}">Опубликовать</a></td>
                </tr>
            {% endfor %}
        </table><br/>
        <table border="1" cellpadding="10" width="100%">
            <tr>
                <td align="center"> <strong> Вопрос </strong> </td>
                <td align="center"> <strong> Ответ </strong> </td>
                <td align="center"> <strong> Изменить ответ на вопрос </strong> </td>
            </tr>
            {% for allAnsweredQuestion in allAnsweredQuestions %}
                <tr>
                    <td align="center">{{ allAnsweredQuestion.question }}</td>
                    {% for answer in answers if answer.id == allAnsweredQuestion.id%}
                    <td align="center">{{ allAnsweredQuestion.answer }}</td>
                    {% endfor %}
                    <td align="center"><input type="text"  placeholder="ответ" name="answer[{{ allAnsweredQuestion.id }}]">
                        <button type="submit" name="updateAnswer" value="{{ allAnsweredQuestion.id }}">Изменить ответ</button></td>
                </tr>
            {% endfor %}

        </table><br/><br/>
        <a href="admin.php">Вернуться</a>
    </form>
</section>
</body>
</html>